<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="resourse" value="https://graph.microsoft.com"/>
    <add key="clientId" value=""/>
    <add key="redirectUrl" value=""/>
    <add key="authorizationUri" value="https://login.windows.net/common/oauth2/authorize" />
    <add key="tenantId" value="" />
  </appSettings>
</configuration>